extends layout

block content
  h1= title

  - let instrumentid = toShow._id
  - let instrument_type = toShow.instrument_type
  - let instrumentcost = toShow.cost
  - let instrumentsize = toShow.size

  div.row.mb-2
    div.mr-1 ID is
    div #{instrumentid}
    - let items = results;
    div(class="container-fluid")
    div(class="row")
    each item in items
    div(class="row-sm-2", class="m-1") Item #{item.instrument_type}(#{item.size}) is #{item.cost}

  - let actionid = "/resource/instruments/" + instrumentid

  form#InstrumentForm(action=actionid method="PUT")
    div.form-group
      label.instrumentAttr(for='instrument_type') Instrument type
      input#instrument_type(type='text', name='instrument_type', value=instrument_type)

    div.form-group
      label.instrumentAttr(for='size') Instrument size
      input#size(type='text', name='size', value=instrumentsize)

    div.form-group
      label.instrumentAttr(for='cost') Instrument cost
      input#cost(type='number', name='cost', value=instrumentcost)

    input(type="submit")

  script.
    document.forms['InstrumentForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        return resp.json();
      }).then((body) => {
        alert("Update succeeded")
      }).catch((error) => {
        alert("Update failed " + error )
      });
    });